:root {
  /* Ok so this will look REALLY confusing, but this is all for the left-side (start-side) of the page, hopefully this don't look fuggly in style */
  
  /* LIGHT THEME */
  /* Page Start Side Light theme variables */
  /* background */
  --color-start-light-background: '#FAF1E2';
  /* text */
  --color-start-light-text: '#81846F';
  --color-start-light-paragraph: "#81846F";
  /* links, both are the same, change later */
  --color-start-light-link-text: "#B49D73";
  --color-start-light-link-text-background: "#B49D73";

  /* --color-start-light-project: "#fff"; */
  
  --color-start-light-active-link: "#2C701F";
  /* this is black for now, change it later */
  --color-start-light-active-link-background: "#000";

  
  /* Page End Side Light theme variables */
  /* background */
  --color-end-light-background: '#7D8491';
  /* text */
  --color-end-light-text: '#F7EDE2';
  --color-end-light-paragraph: "#F7EDE2";
  /* links, both are the same, change later */
  --color-end-light-link-text: "#C97C5D";
  --color-end-light-link-text-background: "#C97C5D";
  
  --color-end-light-active-link: "#493548";
  /* this is black for now, change it later */
  --color-end-light-active-link-background: "#000";





  /* DARK THEME */
  /* Page Start Side Dark theme variables */

  /* ordering of colors are as follows fron https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9*/
  /* 1st column: background, 2nd: links  3rd: text 4th: active*/

  /* background */
  --color-start-dark-background: '#2C3639';
  /* text */
  --color-start-dark-text: '#A27B5C';
  --color-start-dark-paragraph: "#A27B5C";
  /* links, both are the same, change later */
  --color-start-dark-link-text: "#3F4E4F";
  --color-start-dark-link-text-background: "#3F4E4F";
  
  --color-start-dark-active-link: "#DCD7C9";
  /* this is black for now, change it later */
  --color-start-dark-active-link-background: "#000";

  /* https://colorhunt.co/palette/2d24245c3d2eb85c38e0c097 */
  /* Page End Side dark theme variables */
  /* background */
  --color-end-dark-background: '#2D2424';
  /* text */
  --color-end-dark-text: '#B85C38';
  --color-end-dark-paragraph: "#B85C38";
  /* links, both are the same, change later */
  --color-end-dark-link-text: "#5C3D2E";
  --color-end-dark-link-text-background: "#5C3D2E";
  
  --color-end-dark-active-link: "#E0C097";
  /* this is black for now, change it later */
  --color-end-dark-active-link-background: "#000";

     






  /* Page End Side Light theme variables */


/* 
  --color-TESTIMONIAL-TOP: "#648767";
  --color-TESTIMONIAL-BOTTOM: "#648767";

  --color-PROJECTS-BG: "#f9faed";

  --container-dark-text: #FDF8F7;
  --container-dark-background: #1C0C07;
  --para-dark-text: #CCCCCC;
  --anchor-dark-text: #512115;
  --anchor-dark-bg: #F5DDD6;

  --color-toggle-dark-TXT: "#153131";
  --color-toggle-dark-BG: "#153131";
  --color-toggle-dark-HIGHLIGHT: "#153131"; */

  --space-xs:clamp(0.75rem,0.69rem + 0.29vw,0.9375rem);
  --space-s:clamp(1rem,0.92rem + 0.39vw,1.25rem);
  --space-m:clamp(1.5rem,1.38rem + 0.58vw,1.875rem);
  --space-l:clamp(2rem,1.84rem + 0.78vw,2.5rem);
  --space-xl:clamp(3rem,2.77rem + 1.17vw,3.75rem);
  --space-2xl:clamp(4rem,3.69rem + 1.55vw,5rem);
  --space-3xl:clamp(6rem,5.53rem + 2.33vw,7.5rem);
  --space-xs-s:clamp(0.75rem,0.59rem + 0.78vw,1.25rem);
  --space-s-m:clamp(1rem,0.73rem + 1.36vw,1.875rem);
  --space-m-l:clamp(1.5rem,1.19rem + 1.55vw,2.5rem);
  --space-l-xl:clamp(2rem,1.46rem + 2.72vw,3.75rem);
  --space-l-2xl:clamp(2rem,1.07rem + 4.66vw,5rem);
  --space-xl-2xl:clamp(3rem,2.38rem + 3.11vw,5rem);
  --space-2xl-3xl:clamp(4rem,2.91rem + 5.44vw,7.5rem);
  
  /* Our Modular Scales: https://type-scale.com/ */
  --size-step-0:clamp(1rem,0.92rem + 0.39vw,1.25rem);
  --size-step-1:clamp(1.1875rem,1.01rem + 0.87vw,1.75rem);
  --size-step-2:clamp(1.4375rem,1.11rem + 1.65vw,2.5rem);
  --size-step-3:clamp(1.75rem,1.19rem + 2.82vw,3.5625rem);
  --size-step-4:clamp(2.0625rem,1.15rem + 4.56vw,5rem);
  --size-step-5:clamp(2.5rem,1.08rem + 7.09vw,7.0625rem);
  --size-step-6:clamp(3rem,0.84rem + 10.78vw,9.9375rem);
  
  --font-base: 'Abhaya Libre',Inter,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  --font-serif:Georgia,sans-serif;
  
  /* For this page the --measure is disabled because it overrides the layout for the grid */
  /* --measure: 60ch; */
  
  
  --border-thin: var(--space-xs);
  --gutter:var(--space-xs);
  /* --gutter:var(--size-step-0); */
  --border-radius:var(--size-step-0);
  --transition-base:250ms ease;
  --transition-movement:200ms linear;
  --transition-fade:200ms ease;
  --transition-bounce:500ms cubic-bezier(0.5,0.05,0.2,1.5);
  --tracking:-0.05ch;
  --tracking-s:-0.075ch;
  --wrapper-max-width: 55rem;
}

a[toggle-dark] {
  color: var(--color-start-dark-link-text);
}

body[toggle-dark] {
  background-color: var(--color-start-dark-background);
}

.page-sidebar[toggle-dark] {
  background-color: var(--color-start-dark-background);
}

.page-sidebar[toggle-dark] > :last-child {
  background-color: var(--color-end-dark-background);
}

.intro-title[toggle-dark] {
  color: var(--color-start-dark-text);
}

.intro-sub-title[toggle-dark] {
  color: var(--color-start-dark-text);
}

.intro-par[toggle-dark] {
  color: var(--color-start-dark-paragraph);
}

.card-title[toggle-dark] {
  color: var(--color-start-dark-text);
}

.card-info[toggle-dark] {
  color: var(--color-start-light-text);
}
























/* if the img does not have the class "active-img" and it is with the custom attribute "toggle-light-img" then "display:none" */
img:not(.active-img)[toggle-light-img] {
  display: none;
}

.img.active-img[toggle-light-img] {
  display: block;
}

img:not(.active-img)[toggle-dark-img] {
  display: none;
}

.img.active-img[toggle-dark-img] {
  display: block;
}























.about-title[toggle-dark] {
  color: var(--color-end-dark-text);  
}

.about-me-par[toggle-dark] {
  color: var(--color-end-dark-text);
}




.end-link[toggle-dark] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
  color: var(--color-end-dark-text);
  cursor: pointer;
  font-size: var(--size-step-0);
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;

  margin-block-start: var(--size-step-0);
  margin-block-end: var(--size-step-0);
}



.end-link[toggle-dark]:before {
  background-color: var(--color-end-dark-background);
  content: "";
  height: 2px;
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  width: calc(100% + var(--margin) * 2);
}