/* 
*  CSS TABLE OF CONTENTS (NEEDS EDITS)
*   
*  1.0 - Design Tokens - Color Palettes, Fonts, Globals
*  2.0 - Body
*  3.0 - Header
*  4.0 - Main Nav
*  4.0 - Intro Section
*  5.0 - Testimonials Section
*  6.0 - Projects Section
*  7.0 - About Section
*  8.0 - Footer
*/

:root {
    /* Ok so this will look REALLY confusing, but this is all for the left-side (start-side) of the page, hopefully this don't look fuggly in style */
    
    /* LIGHT THEME */
    /* Page Start Side Light theme variables */
    /* background */
    --color-start-light-background: '#FAF1E2';
    /* text */
    --color-start-light-text: '#81846F';
    --color-start-light-paragraph: "#81846F";
    /* links, both are the same, change later */
    --color-start-light-link-text: "#B49D73";
    --color-start-light-link-text-background: "#B49D73";

    /* --color-start-light-project: "#fff"; */
    
    --color-start-light-active-link: "#2C701F";
    /* this is black for now, change it later */
    --color-start-light-active-link-background: "#000";

    
    /* Page End Side Light theme variables */
    /* background */
    --color-end-light-background: '#7D8491';
    /* text */
    --color-end-light-text: '#F7EDE2';
    --color-end-light-paragraph: "#F7EDE2";
    /* links, both are the same, change later */
    --color-end-light-link-text: "#C97C5D";
    --color-end-light-link-text-background: "#C97C5D";
    
    --color-end-light-active-link: "#493548";
    /* this is black for now, change it later */
    --color-end-light-active-link-background: "#000";





    /* DARK THEME */
    /* Page Start Side Dark theme variables */

    /* ordering of colors are as follows fron https://colorhunt.co/palette/2c36393f4e4fa27b5cdcd7c9*/
    /* 1st column: background, 2nd: links  3rd: text 4th: active*/

    /* background */
    --color-start-dark-background: '#2C3639';
    /* text */
    --color-start-dark-text: '#A27B5C';
    --color-start-dark-paragraph: "#A27B5C";
    /* links, both are the same, change later */
    --color-start-dark-link-text: "#3F4E4F";
    --color-start-dark-link-text-background: "#3F4E4F";
    
    --color-start-dark-active-link: "#DCD7C9";
    /* this is black for now, change it later */
    --color-start-dark-active-link-background: "#000";

    /* https://colorhunt.co/palette/2d24245c3d2eb85c38e0c097 */
    /* Page End Side dark theme variables */
    /* background */
    --color-end-dark-background: '#2D2424';
    /* text */
    --color-end-dark-text: '#B85C38';
    --color-end-dark-paragraph: "#B85C38";
    /* links, both are the same, change later */
    --color-end-dark-link-text: "#5C3D2E";
    --color-end-dark-link-text-background: "#5C3D2E";
    
    --color-end-dark-active-link: "#E0C097";
    /* this is black for now, change it later */
    --color-end-dark-active-link-background: "#000";

       






    /* Page End Side Light theme variables */


/* 
    --color-TESTIMONIAL-TOP: "#648767";
    --color-TESTIMONIAL-BOTTOM: "#648767";

    --color-PROJECTS-BG: "#f9faed";

    --container-dark-text: #FDF8F7;
    --container-dark-background: #1C0C07;
    --para-dark-text: #CCCCCC;
    --anchor-dark-text: #512115;
    --anchor-dark-bg: #F5DDD6;

    --color-DARK-MODE-TXT: "#153131";
    --color-DARK-MODE-BG: "#153131";
    --color-DARK-MODE-HIGHLIGHT: "#153131"; */

    --space-xs:clamp(0.75rem,0.69rem + 0.29vw,0.9375rem);
    --space-s:clamp(1rem,0.92rem + 0.39vw,1.25rem);
    --space-m:clamp(1.5rem,1.38rem + 0.58vw,1.875rem);
    --space-l:clamp(2rem,1.84rem + 0.78vw,2.5rem);
    --space-xl:clamp(3rem,2.77rem + 1.17vw,3.75rem);
    --space-2xl:clamp(4rem,3.69rem + 1.55vw,5rem);
    --space-3xl:clamp(6rem,5.53rem + 2.33vw,7.5rem);
    --space-xs-s:clamp(0.75rem,0.59rem + 0.78vw,1.25rem);
    --space-s-m:clamp(1rem,0.73rem + 1.36vw,1.875rem);
    --space-m-l:clamp(1.5rem,1.19rem + 1.55vw,2.5rem);
    --space-l-xl:clamp(2rem,1.46rem + 2.72vw,3.75rem);
    --space-l-2xl:clamp(2rem,1.07rem + 4.66vw,5rem);
    --space-xl-2xl:clamp(3rem,2.38rem + 3.11vw,5rem);
    --space-2xl-3xl:clamp(4rem,2.91rem + 5.44vw,7.5rem);
    
    /* Our Modular Scales: https://type-scale.com/ */
    --size-step-0:clamp(1rem,0.92rem + 0.39vw,1.25rem);
    --size-step-1:clamp(1.1875rem,1.01rem + 0.87vw,1.75rem);
    --size-step-2:clamp(1.4375rem,1.11rem + 1.65vw,2.5rem);
    --size-step-3:clamp(1.75rem,1.19rem + 2.82vw,3.5625rem);
    --size-step-4:clamp(2.0625rem,1.15rem + 4.56vw,5rem);
    --size-step-5:clamp(2.5rem,1.08rem + 7.09vw,7.0625rem);
    --size-step-6:clamp(3rem,0.84rem + 10.78vw,9.9375rem);
    
    --font-base: 'Atkinson Hyperlegible',Inter,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
    --font-serif:Georgia,sans-serif;
    
    /* For this page the --measure is disabled because it overrides the layout for the grid */
    /* --measure: 60ch; */
    
    
    --border-thin: var(--space-xs);
    --gutter:var(--space-xs);
    /* --gutter:var(--size-step-0); */
    --border-radius:var(--size-step-0);
    --transition-base:250ms ease;
    --transition-movement:200ms linear;
    --transition-fade:200ms ease;
    --transition-bounce:500ms cubic-bezier(0.5,0.05,0.2,1.5);
    --tracking:-0.05ch;
    --tracking-s:-0.075ch;
    --wrapper-max-width: 55rem;
}

* {
    max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer {
    max-inline-size: none;
}

a {
    text-decoration: none;
    color: inherit;
}





















/*** 2.0 - Body ***/

body {
    font-family:var(--font-base);
    font-size:var(--size-step-1);
    letter-spacing:var(--tracking);

    background-color: #5c5c5c;
}

.page-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs, var(--size-step-1));

    background-color: #5c5c5c;
    margin-inline-start: var(--size-step-2);
    /* margin-block-start: var(--size-step-2); */
}

.page-sidebar > :first-child {
    flex-basis: 75rem;
    flex-grow: 1;
}

.page-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 20%;

    border-radius: var(--border-radius);
    background-color: #000000;
}

.page-start-side {
    margin-inline-start: var(--size-step-4);
}

.page-end-side {
    /* margin-inline-start: var(--size-step-4); */
}





















/*** 3.0 - Headers ***/

h1,h2,h3{
    letter-spacing:var(--tracking-s);
    line-height:1;
}

h1 {
    font-size:var(--size-step-4);
}

h2 {
    font-size:var(--size-step-3);
}

h3 {
    font-size:var(--size-step-2);
}

p, span {
  font-size: var(--size-step-0);
}

blockquote:not([className]),li,p{
    max-width: 50ch;
}

h1,h2,h3{
    max-width:22ch;
}

h4, h5, h6 {
    font-size: var(--size-step-1);
    letter-spacing: var(--tracking);
    line-height: 1;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.stack > * {
    margin-block: 0;
}

/* .stack > * + * {
    margin-block-start: var(--space-xs-s, 1.5rem);
} */





















/*** 4.0 - Main Nav ***/

.cluster-nav-start {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-step-2, 1rem);
    justify-content: start;
    align-items: center;

    margin-block-start: var(--size-step-2);
}
  

#image-container div[imgDark][imgLight] {
  position: relative;
  width: 20%;
}

#default-image {
    position: relative;
    display: block;

    max-inline-size: 100%; 
    max-width: var(--size-step-4);
}

#hover-image {
    position: relative;
    display: none;
  
    max-inline-size: 100%; 
    max-width: var(--size-step-4);
}

#image-container:hover #hover-image {
  display: block;
}

#image-container:hover #default-image {
  display: none;
}






























nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a:not(.link-active) {
    /* styles for non-active links */
 }

 nav ul li a.link-active {
    /* styles for active links */
 }

.link,
.link *,
.link :after,
.link :before,
.link:after,
.link:before {
  border: 0 solid;
  box-sizing: border-box;
}

.link {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    color: #000;
    cursor: pointer;
    font-size: var(--size-step-0);
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
  
    margin-block-start: var(--size-step-0);
    margin-block-end: var(--size-step-0);
}

.link:disabled {
  cursor: default;
}

.link:-moz-focusring {
  outline: auto;
}

.link svg {
  display: block;
  vertical-align: middle;
}

.link [hidden] {
  display: none;
}

.link{
  --margin: 20%;
  background: none;
  -webkit-clip-path: polygon(
    calc(var(--margin) * -1) 0,
    calc(100% + var(--margin)) 0,
    calc(100% + var(--margin)) 100%,
    calc(var(--margin) * -1) 100%
  );

  clip-path: polygon(
    calc(var(--margin) * -1) 0,
    calc(100% + var(--margin)) 0,
    calc(100% + var(--margin)) 100%,
    calc(var(--margin) * -1) 100%
  );

  display: inline;
  font-weight: 400;
  -webkit-mask-image: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}

.link:hover {
  transform: scale(1.1);
}

.link-active:not([toggle-dark]) { 
    color: #FAF1E2;

    pointer-events: none;
}

/* .link-active:active {
    border-radius: 0.25em;
    border: 2px dotted #B49D73;
} */

.link:before {
  background: #000000;
  content: "";
  height: 2px;
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  width: calc(100% + var(--margin) * 2);
}

.link:hover:before {
  transform: translate(calc(100% - var(--margin) * 2), -50%);
}





















/*** 4.0 - Intro Section ***/

.box-intro {
    background-color: #5c5c5c;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;

    margin-block-start: var(--size-step-4);
    margin-inline-start: var(--size-step-2);
    margin-inline-end: var(--size-step-2);
}

.intro-title {
    color: #000000;

    margin-block-start: var(--size-step-4);
    letter-spacing: var(--tracking);
    display: inline-block;
}


/* for now lets not worry about effects on text */
/* .highlight-start {
    --s: 0.1em;  
    --c: #B49D73;
    
    color: transparent;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}
 
.highlight-start:hover {--_p: 100%}
  
.highlight-start {
    cursor: pointer;
} */

.intro-sub-title {
    color: #000000;
    margin-block-start: var(--size-step-2);
}

/* same as highlight-start */
/* .highlight-mid {
    --s: 0.1em;  
    --c: #DE6C83; 
    
    color: transparent;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}
 
.highlight-mid:hover {--_p: 100%}
  
.highlight-mid {
    cursor: pointer;
} */

.intro-par {
    color: #000000;

    margin-block-start: var(--size-step-2);
    line-height: 1.618;
    letter-spacing: var(--tracking-s);
    max-inline-size: 75ch;
    font-size: .9em;
}

/*** 5.0 - Services Section ***/

.card-box {
  background-color: #5c5c5c;

	margin-inline-start: var(--size-step-2);
	/* max-width: var(--wrapper-max-width, 85rem); */
	padding-inline-start: var(--gutter);
	padding-inline-end: var(--gutter);
	position: relative;

  margin-block-start: var(--size-step-6);
}

.card-title {
  color: #000000;

  margin-block-start: var(--size-step-2);
  margin-block-end: var(--size-step-2);
  
  display: inline;
}

.card-grid {
	display: grid
}

.mt-l-xl {
	margin-top: clamp(2rem,1.46rem + 2.72vw,3.75rem)
}

.card-grid {
	display: grid;
	gap: var(--gutter,var(--space-s-l));
	grid-template-columns: repeat(var(--grid-placement,auto-fill),minmax(var(--grid-min-item-size,16rem),1fr))
}

.card-grid[data-rows=masonry] {
	align-items: start;
	grid-template-rows: masonry
}

.card-grid[data-layout="50-50"] {
	--grid-placement: auto-fit;
	--grid-min-item-size: clamp(16rem,50vw,26rem);
}

.card-info {
    /* background-color: #2C701F; */
    /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23f9faed' fill-opacity='0.68' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0tH2.07z'%3E%3C/path%3E%3C/svg%3E"); */

    font-size: .85em;

    max-inline-size: 40ch;
    /* color: #000000; */

    box-shadow: 0 5px 20px 2px rgba(0,0,0,0.1);

    border-radius: var(--border-radius);
    padding: var(--space-m);
}

.card-info cite {
  color: #000000;
}

.card-info span {
  color: #000000;
}

.card-info > footer {
    font-size: .8em;
    letter-spacing: var(--tracking-s);
    /* font-style: italic; */
}

.card-info blockquote {
  color: #000000;
}

.card-info > blockquote {
  font-size: .8em;
  letter-spacing: var(--tracking-s);
  font-style: italic;
}

.card-info-sidebar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gutter, var(--size-step-1));    
    
    /* This is commented out as an optional highlight for the recommenders */
    /* background-color: #648767;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23faf1e2' fill-opacity='0.05' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E"); */

    border-radius: var(--border-radius);
    padding-block: var(--size-step-0);
    padding-inline-end: var(--size-step-0);
    max-inline-size: 30ch;
}

/* progressive enhancement of highlighting the selected card */
.card-info-sidebar ::selection {
	/* background: #2c701f; */
	/* color: #2C701F; */
}

.card-info-sidebar > :first-child {
    /* ↓ The width when the sidebar _is_ a sidebar */
    flex-basis: 4rem;
    flex-grow: 1;

    /* this seems to do it, does not allow the image inside the card-info-sidebar class to stretch vertically */
    block-size: 100%;
}

.card-info-sidebar > :last-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.card-profile {
    aspect-ratio: (16 / 9);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-profile > img {
    border-radius: 100%;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.card-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-profile-details > cite {
    display: inline;
    font-size: .8em;
    letter-spacing: var(--tracking-s);
    font-weight: 700;
}

.card-profile-details > span {
    display: inline;
    font-size: .6em;
    letter-spacing: var(--tracking-s)
}

/*** 5.0 - Testimonials Section ***/

.testimonial-profile {
    aspect-ratio: (16 / 9);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.testimonial-profile > img {
    border-radius: 100%;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.testimonial-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-profile-details > cite {
    display: inline;
    font-size: .8em;
    letter-spacing: var(--tracking-s);
}

.testimonial-profile-details > span {
    display: inline;
    font-size: .7em;
    letter-spacing: var(--tracking-s);
}

/*** 6.0 - Projects Section ***/

.project-profile {
    aspect-ratio: (16 / 9);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-profile > img {
    border-radius: var(--size-step-0);
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}

.project-profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-profile-details > cite {
    display: inline;
    font-size: .8em;
    letter-spacing: var(--tracking-s);
}

.project-profile-details > span {
    display: inline;
    font-size: .7em;
    letter-spacing: var(--tracking-s);
}

.cluster-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs, 1rem);
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.push-button {
    background-color: #000000;
    color: #5c5c5c;
    border: 1px solid #5c5c5c;
    box-shadow: 0 0 0 0 #000000;
    
    display: flex;
    border-radius: var(--border-radius);
    font-size: .9em;
    font-weight: bold;
    margin-block: var(--size-step-0);
    padding-inline: var(--size-step-2);

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid #5c5c5c;
    box-shadow: 0 0 0 0 var(--color-dark-dark-paragraph);
    
    /* text-align: center; */
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
.push-button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 #000000;
  };
  
.push-button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 #2C701F;
  };

.icon-box {
  margin-block-start: var(--size-step-2);
}


/* Footer Section */

footer > .icon-box + * + * {
  margin-inline-start: var(--size-step-2);
  color: #000000;
}

footer > i {
  font-size: .85em;
}

.icon {
  height: 0.75em;
  /* ↓ Override the em value with `1cap`
  where `cap` is supported */
  height: 1cap;
  width: 0.75em;
  width: 1cap;
}

.with-icon {
  color: #000000;

  /* ↓ Set the `inline-flex` context,
  which eliminates the word space */
  display: inline-flex;
  align-items: baseline;
  font-style: italic;
  font-size: .65em;
}

.with-icon .icon {
  /* ↓ Use the logical margin property
  and a --space variable with a fallback */
  margin-inline-end: var(--space, 0.5em);
}

i {
  color: #000000;

  font-size: .7em;
}


/*** 7.0 - About Me Section ***/

.center {
    /* ↓ Remove padding from the width calculation */
    box-sizing: content-box;
    /* ↓ The maximum width is the maximum measure */
    max-inline-size: 60ch;
    /* ↓ Only affect horizontal margins */
    margin-inline: auto;
    /* ↓ Apply the minimum horizontal space */
    padding-inline-start: var(--size-step-0);
    padding-inline-end: var(--size-step-0);
    text-align: center;
}

.about-box {
    /* margin-inline-start: var(--size-step-2); */
    /* padding-inline-start: var(--gutter); */
    /* padding-inline-end: var(--gutter); */
    /* position: relative; */

    margin-block-start: var(--size-step-2);

    display: flex;
    margin-inline: var(--size-step-2);
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.about-title {
    margin-block-start: var(--size-step-2);
    margin-block-end: var(--size-step-0);
    color: #5c5c5c;

    text-align: center;
}

.about-me-par {
    margin-block-start: var(--size-step-0);
    margin-block-end: var(--size-step-2);

    font-size: .7em;
    line-height: 1.6;
    letter-spacing: var(--tracking-s);
    color: #5c5c5c;
}

.cluster-nav-end {
    display: flex;
    flex-wrap: wrap;
    gap: var(--size-step-2, 1rem);
    justify-content: center;
    align-items: center;

    margin-block-start: var(--size-step-2);
}

/* .about-me links */

.end-link,
.end-link *,
.end-link :after,
.end-link :before,
.end-link:after,
.end-link:before {
  border: 0 solid;
  box-sizing: border-box;
}

.end-link {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    color: #5c5c5c;
    cursor: pointer;
    font-size: var(--size-step-0);
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
  
    margin-block-start: var(--size-step-0);
    margin-block-end: var(--size-step-0);
}

.end-link:disabled {
  cursor: default;
}

.end-link:-moz-focusring {
  outline: auto;
}

.end-link svg {
  display: block;
  vertical-align: middle;
}

.end-link [hidden] {
  display: none;
}

.end-link{
  --margin: 20%;
  background: none;
  -webkit-clip-path: polygon(
    calc(var(--margin) * -1) 0,
    calc(100% + var(--margin)) 0,
    calc(100% + var(--margin)) 100%,
    calc(var(--margin) * -1) 100%
  );

  clip-path: polygon(
    calc(var(--margin) * -1) 0,
    calc(100% + var(--margin)) 0,
    calc(100% + var(--margin)) 100%,
    calc(var(--margin) * -1) 100%
  );

  display: inline;
  font-weight: 400;
  -webkit-mask-image: none;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s;
}

.end-link:hover {
  transform: scale(1.1);
}

.end-link:before {
  background-color: #5c5c5c;
  content: "";
  height: 2px;
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  width: calc(100% + var(--margin) * 2);
}

.end-link:hover:before {
  transform: translate(calc(100% - var(--margin) * 2), -50%);
}

.about-me-img-container {
    /* padding: var(--size-step-6); */
    /* padding-inline-end: var(--size-step-6); */

    /* padding: var(--size-step-4); */
}

.about-me-frame {
    --n: 16; /* numerator */
    --d: 9; /* denominator */
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.about-me-frame > img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
}














/*** 5.0 - Hobbies Section ***/

.hobbies-grid {
	display: grid
}

.hobbies-grid {
	display: grid;
	gap: var(--gutter,var(--space-s-l));
	grid-template-columns: repeat(var(--grid-placement,auto-fill),minmax(var(--grid-min-item-size,16rem),1fr))
}

.hobbies-grid[data-rows=masonry] {
	align-items: start;
	grid-template-rows: masonry
}

.hobbies-grid[data-layout="50-50"] {
	--grid-placement: auto-fit;
	--grid-min-item-size: clamp(8rem,50vw,12rem);
}
